* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;;
  }

  body {
    margin: 10px;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 15px;
  }
  
  /* Style the top navigation bar */
  .topnav {
    overflow: hidden;
    background-color: #54a1e0;
    width: 100%;
  }

  .sidenav {
    overflow: hidden;
    background-color: white;
    margin-top: 10px;
    float: left;
  }
  
  /* Style the topnav links */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change color on hover */
  .topnav a:hover {
    background-color: white;
    color: black;
  }

  /* Style the footer */
.footer {
    background-color: #f2f2f2;
    padding: 2px;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
  }

  .title{
    font-size: 25px;
}

/* Style the content */
.content {
    background-color: white;
    padding: 2px;
    font-size: 14px;
  }

  .float-container {
    padding: 20px;

}

.float-child {
    width: 50%;
    float: left;
    padding: 20px;

}  

.red-text {
  color: red;
}

.grid-parent {
  display: grid;
  float: left;
  padding: 25px;

}
.grid-child {
  border: white;
  padding: 25px;
}
.accident-container {
font-size: 18px;
  }

.disc {
  text-align: center;
}

.accident-text {
  padding-left: 30px;
  margin-left: 30px;
}

.accident-text-double {
  padding-left: 60px;
  margin-left: 60px;
}

.red-text-accident {
  color: red;
  padding-left: 30px;
  margin-left: 30px;
}

.cheat-sheet-body {
  padding-left: 30px;
  margin-left: 30px;
}